<html lang="en">
  <%- include('../partials/head', { pageTitle: 'Products List Page' }) %>

  <body data-bs-theme="<%= theme %>">
    <%- include('../partials/navigation') %>

    <main>
      <h1>Product list Page</h1>

      <% if (products && products.length > 0) { %>

      <h3>Product List</h3>
      <ul>
        <% for (let product of products) { %>
        <li class="d-flex">
          <%= product.title %>, <%= product.price %>, <%= product.description %>
          <form action="/add-to-cart" type="POST">
            <button class="btn btn-primary" type="submit">Add to cart</button>
          </form>
        </li>
        <% } %>
      </ul>

      <% } %> <% if (!products || products.length === 0) { %>
      <p>No products available.</p>
      <% } %>
    </main>
  </body>
</html>
